<link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap" rel="stylesheet">

* {
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap" rel="stylesheet">
    margin: 0;
    padding:0;
    width:100%;
    font-size:62.5%; 

}


body{
    background:red;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size:1.8rem;
}